/* Navbar styling */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* adding for test */
    padding: 0;
    list-style: none;
  }
  
  /* added to remove li bullets */
  .navbar li {
    display:inline; 
  }
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #676565;
    color: black;
  }

  /* responsive design for nav bar */
@media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar a {
      width: 100%;
    }
  }